.countdown {
    position: relative;
    padding: 1em;
    margin-top: 1em;
    background-color: #FF001F;
    background-repeat: no-repeat;
    line-height: 2;
    color: #FFF;
    .timestamp {
        font-size: 2em;
    }
    .period {
        font-size: 2em;
    }
    .btn {
        .border-radius(3px);
        background-color: #FFF;
        color: #646464;
        border: none;
        padding: 0 1em;
        line-height: 2em;
        display: inline-block;
        text-decoration: none;
    }
    .btns {
        position: absolute;
        top: 1em;
        right: 1em;
        .create-meeting-btn {
            span.icon {
                background-image: url("../img/icon/metting-icon.png@{version}");
                width: 1.5em;
                height: 1.5em;
                display: inline-block;
                background-size: contain;
                float: left;
                margin-top: 0.2em;
                margin-right: 0.5em;
                background-repeat: no-repeat;
            }
            &:hover {
                background: #9F9F9F;
                color: #FFF;
            }
        }
        .metting-btn {
            .icon.circle.notched {
                .transform-origin(bottom);
                .animation(spin 500ms infinite);
            }
        }
    }
}

.bplus .countdown {
    background-image: url("../img/card-header.png@{version}");
}
