.epicinfo {
    margin-bottom: 1em;
    border-bottom: 1px solid #ccc;
    .head {
        padding: 1em 2em 2em;
        background-color: #FC001F;
        color: #FFF;
    }
    .body {
        padding: 0 1em 1em;
        background-color: #FFF;
    }
    .container {
        border-bottom: 1px solid #ccc;
        margin-bottom: 1em;
    }
    .ui.grid>.column:not(.row) {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
}