.b-competion-gametraining-watch,
.b-competion-gametraining-download,
.b-competion-gametraining-online-classroom {
    background-color: transparent;
    display: block;
    height: 86px;
    text-decoration: none;
    background-size: 100% 100%;
}
.b-competion-gametraining-watch:hover,
.b-competion-gametraining-download:hover,
.b-competion-gametraining-online-classroom:hover {
    text-decoration: none;
}
.b-competion-gametraining-watch {
    background-image: url("../img/banner-watch.png@{version}");
}
.b-competion-gametraining-watch:hover {
    background-image: url("../img/banner-watch-hover.png@{version}");
}
.b-competion-gametraining-download {
    background-image: url("../img/banner-download.png@{version}");
}
.b-competion-gametraining-download:hover {
    background-image: url("../img/banner-download-hover.png@{version}");
}
.b-competion-gametraining-online-classroom{
    background-image: url("../img/banner-online-classroom.png@{version}");
}
.b-competion-gametraining-online-classroom:hover {
    background-image: url("../img/banner-online-classroom-hover.png@{version}");
}
