.list {
    margin: 0;
    position: relative;
}

.list .search {
    padding: 1em 2em;
}

.list .search .ui.input {
    width: 100%;
}

.list .search input.search-input {
    line-height: 24px;
}

.list .instruction {
    padding: 1em 2em;
    line-height: 2em;
}

.list .images.expanded {
    width: 100%;
}

.list .ui.items>.item.images-expanded {
    background-color: #E6E6E6;
}

.list .images.invisible {
    opacity: 0;
}

.list .img {
    text-align: center;
}

.list img {
    width: 100%;
    border: 3px solid transparent;
    .border-radius(50%);
    cursor: pointer;
}

.list .minor img {
    width: 100%;
}

.list img.gender-u {
    border-color: #C1C1C1;
    border-style: dashed;
}

.list img.gender-m {
    border-color: #0075D5;
}

.list img.gender-f {
    border-color: #FF6858;
}

.list .item .btn {
    .border-radius(5px);
    background-color: #FF001F;
    border: none;
    color: #FFF;
    padding: 0.5em 1em;
}

.list .item .title {
    text-align: center;
    color: #000;
    font-size: 1.2em;
    line-height: 2em;
    height: 2em;
    overflow: hidden;
    margin: 0;
}

.list .item .description {
    background-color: #464A53;
    color: #FFF;
    font-size: 1em;
    line-height: 1.8em;
    text-align: center;
    padding: 0.5em 0;
    border-bottom: 3px solid #BEBEBE;
}

.list .item .description .major {
    font-size: 0.7em;
}

.list .item .description .mobile-num {
    font-size: 0.8em;
}

.list .card {
    background-color: #fff;
    margin: 0.5em -0.8em;
    border: 1px solid #D6D6D6;
    .border-radius(3px);
    .box-shadow(0px 0px 5px #BEBEBE);
}

.list .card .img {
    padding: 1.5em 1em 0.5em;
}

.list .items {
    margin: 0;
}

.list .items > .item {
    margin: 0;
    padding: 0 2em;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
}

.list .item .name.content {
    font-size: 1.2em;
}

.list .message {
    line-height: 2em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    color: #FFF;
    font-size: 16px;
}

.list .message i.icon {
    font-size: 1.5em;
    cursor: pointer;
}

.list .message .text {
    background: rgba(0, 0, 0, 0.5);
    padding: 1em 2em;
}

.list .message .error {
    background: rgba(175, 31, 31, 0.7);
    padding: 1em 2em;
}

.list .change.item {
    padding: 1em;
    text-align: center;
    .btn {
        display: inline-block;
        margin: 0 auto;
    }
}

.mobile-game .list .ui.items>.item.images-expanded {
    background-color: #FFF;
}

.mobile-game .list .items>.item {
    border-top: 0;
    border-bottom: 0;
}

.mobile-game .list .item .description {
    border-bottom: none;
}

.mobile-game .list .card {
    .border-radius(0);
    .box-shadow(none);
}
