.ranking-title-container {
    z-index: 3;
}

.ranking-subtitle-container {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 47px;
    background-color: #2e363d;
    display: none;
}

.row.ranking-row {
    padding: 0px!important;
}

.ranking-cell {
    height: 47px;
    padding-top: 14px;
    padding-bottom: 14px;
    border: solid 1px #dbdcdc;
}

.ranking-options {
    background-color: #2e363d;
    color: white;
    cursor: pointer;
    text-align: left!important;
    padding-left: 40px!important;
}

.ranking-options:before {
    content: "\00a0\00a0\00a0\00a0";
    position: absolute;
    right: 30px;
    background-size: 17px 12px;
    width: 17px;
    height: 12px;
    top: 18px;
    background-repeat: no-repeat;
    background-image: url("../img/ranking/extend.png@{version}");
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -moz-transform: rotate(180deg);
    /* Firefox */
    -webkit-transform: rotate(180deg);
    /* Safari and Chrome */
    -o-transform: rotate(180deg);
    /* Opera */
}

.ranking-active {
    background-color: #ff3c42!important;
}

.ranking-subtitle-item {
    height: 47px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: left!important;
    padding-left: 40px!important;
    position: relative;
}

.ranking-subtitle-item:hover {
    background-color: #cc181e!important;
}

.ranking-suboption-active:before {
    content: "\00a0\00a0\00a0\00a0";
    position: absolute;
    right: 30px;
    background-size: 17px 12px;
    width: 17px;
    height: 12px;
    top: 18px;
    background-repeat: no-repeat;
    background-image: url("../img/ranking/check.png@{version}");
}

.ranking-options:hover {
    background-color: #cc181e;
    .ranking-subtitle-container {
        display: block;
    }
}

.ranking-score,
.ranking-rank {
    background-color: #fafafa;
    color: #2e363d;
}

.ranking-name {
    color: #2e363d;
    background-color: white;
}

.ranking-name {
    text-align: left!important;
    padding-left: 7em!important;
}

.ranking-detail0 .ranking-name {
    text-align: center!important;
    padding-left: 1em!important;
}

.ranking-detail0 .ranking-rank,
.ranking-detail0 .ranking-name,
.ranking-detail0 .ranking-score {
    color: white;
    background-color: #ff3c42;
}

.ranking-detail1 .ranking-rank:before,
.ranking-detail2 .ranking-rank:before,
.ranking-detail3 .ranking-rank:before {
    content: "\00a0\00a0\00a0\00a0";
    background-repeat: no-repeat;
    font-size: 23px;
    padding-right: 1em;
    position: absolute;
    left: 40px;
}

.ranking-detail1 .ranking-rank:before {
    background-image: url("../img/ranking/r1.png@{version}");
}

.ranking-detail2 .ranking-rank:before {
    background-image: url("../img/ranking/r2.png@{version}");
}

.ranking-detail3 .ranking-rank:before {
    background-image: url("../img/ranking/r3.png@{version}");
}

.hcd {
    .ranking-options.ranking-active,
    .ranking-options:hover,
    .ranking-subtitle-item:hover,
    .ranking-detail0 .ranking-rank,
    .ranking-detail0 .ranking-name,
    .ranking-detail0 .ranking-score {
        background-color: #845497!important;
        color: #FFF;
    }
}
