.teammember {
    background-color: #FFF;
}

.teammember .head {
    background: #464954;
    color: #FFF;
    line-height: 2em;
    padding: 1em;
    button.btn {
        .border-radius(3px);
        background-color: #FFF;
        color: #646464;
        border: none;
        padding: 0 1em;
        float: right;
        margin-left: 1em;
    }
}

.teammember .body {
    .name {
        line-height: 1.5em;
        font-size: 1.3em;
        font-weight: 600;
        margin: 0.5em 0;
        padding: 1em 2em;
        label {
            border: 1px solid #fff;
            padding: 0 0.5em;
        }
        input {
            border: 1px solid #ccc;
            padding: 0 0.5em;
            font-size: 1em;
            line-height: 1.5em;
            outline: none;
        }
        i.icon {
            cursor: pointer;
            font-size: 1.2em;
            &.checkmark {
                color: #009432;
            }
            &.write:hover {
                color: #FF001F;
            }
        }
    }
}

.teammember .title {
    color: #8C8C8C;
    margin-bottom: 2em;
}

.teammember .item {
    text-align: center;
    color: #8C8C8C;
    font-size: 14px;
}

.teammember .item .img {
    position: relative;
    cursor: pointer;
}

.teammember .item .img .icon.remove {
    position: absolute;
    font-size: 2em;
    color: #FF3C42;
    display: none;
    top: 0.5em;
    right: 0;
}

.teammember .item img {
    width: 100%;
    border: 3px solid #C1C1C1;
    .border-radius(50%);
}

.teammember .selected img.gender-m,
.teammember .selected img.gender-m,
.teammember .selected img.gender-m {
    border-color: #FF3C42;
    border-style: solid;
}

.teammember .selected .img .icon.remove {
    display: block;
}

.teammember .item.male img {
    border-color: #0069D4;
}

.teammember .item.female img {
    border-color: #FF5E4A;
}

.teammember .meta {
    font-size: 16px;
    line-height: 1.2;
    color: #646464;
}

.teammember .list .instruction {
    color: #787878;
}

.mobile-bplus .teammember .body .name {
    padding: 0 1em;
    margin: 0;
}
