<div class="countdown" ng-if="teamRoom && ms_team && ms_member && (ms_epic.epic_sign_end < now)" ng-controller="countdownCtrl">
    <div ng-show="showSignEnded">
        报名已经结束
    </div>
    <div ng-show="willStart">
        <span class="timestamp">
			{{countdownMsg}}
		</span> {{40212|translate}}
        <a target="_blank" ng-href="{{cmpt + '/marksimos?team_id=' + ms_team.team_id + '&partner=' + site + '&from=' + site}}" class="btn" ng-if="ms_team" ng-show="showGameLink" ng-bind="40213|translate"></a>
        <div ng-bind="40214|translate"></div>
    </div>
    <div ng-show="inGaming">
        <span class="period" ng-bind="40215|translate"></span>
        <a target="_blank" ng-href="{{cmpt + '/marksimos?team_id=' + ms_team.team_id + '&partner=' + site + '&from=' + site}}" class="btn" ng-if="ms_team" ng-show="showGameLink" ng-bind="40213|translate"></a>
    </div>
    <div ng-show="gameEnded">
        <span class="period" ng-bind="40216|translate"></span>
    </div>
    <div class="btns">
        <button class="btn metting-btn create-meeting-btn" ng-show="readyToCreateMettingRoom" ng-click="joinMeetingRoom()">
            <span class="icon"></span> {{40220|translate}}
        </button>
        <button class="btn metting-btn" ng-show="creatingMettingRoom">
            <i class="circle notched icon"></i> {{40221|translate}}
        </button>
        <button class="btn metting-btn" ng-show="createMettingRoomSuccess">
            <i class="circle thin icon"></i> {{40222|translate}}
        </button>
        <a class="btn metting-btn" target="_blank" ng-href="{{linkOfMettingRoom}}" ng-show="showLinkOfMettingRoom">
            <i class="home icon"></i> {{40223|translate}}
        </a>
        <button class="btn invite-btn" ng-if="ms_epic.epic_id && ms_team.team_id" pop klass="qrpop" content="<div class='logo-mask'></div><div class='qrcode' qrcode src='QRCode(ms_epic.epic_id, ms_team.team_id)'></div>">
    		<i class="icon wechat"></i> {{40210|translate}}
    	</button>
    </div>
</div>
