<div class="epicinfo">
    <div class="head">
        <h2>{{ms_epic.title}}</h2>
        <div>{{ms_epic.title}}</div>
        <i class="icon wechat"></i>
    </div>
    <div class="body">
        <div class="ui grid container">
            <div class="sixteen wide column">
                <i class="calendar icon"></i>
                比赛时间：
                {{formatDate(ms_epic.game_from)}} - {{formatDate(ms_epic.game_end)}}
            </div>
            <div class="sixteen wide column">
                <i class="flag icon"></i>
                报名时间：
                {{formatDate(ms_epic.sign_from)}} - {{formatDate(ms_epic.sign_end)}}
            </div>
            <div class="eight wide column">
                <i class="checkered flag icon"></i> {{ms_epic.region}}
            </div>
            <div class="eight wide column">
                <i class="user icon"></i>
            </div>
        </div>
        <div class="grid">
            <div class="sixteen wide column">
                <p>规则:5人组队参赛,4-6队同场竞技,进行4轮决策(第1轮 2H/ 第2轮 2H/ 第3轮 2H/ 第4轮 2H),最后 以市场份额增量及累积净利润为指标,评判优胜。</p>
                <p>流程:09月30日初赛、10月16日全国复赛、10月28日全国决赛</p>
            </div>
        </div>
    </div>
</div>