<div class="gameroom list" ng-controller="gameRoomCtrl" ng-if="ms_epic" ng-show="teamsInRoom.length">
    <div class="search">
        <label ng-bind="teamRoom.group_id + '-' + teamRoom.room_id"></label>
        <div class="rounds">
            <span class="round" ng-repeat="round in rounds" ng-class="{active: currentRound > round, highlight: selectedRound == round}" ng-click="toggleRank(round)" ng-bind="round+1"></span>
            <span ng-bind="40120|translate"></span>
        </div>
    </div>
    <div class="ui items">
        <div ng-repeat="team in teamsInRoomView" class="ui items">
            <div class="item mobile-team-list">
                <div class="mobile-team-name" ng-class="{crown:(selectedRound > -1) && ($index < 3)}">
                    {{team.name}}
                </div>
                <div class="images minor mobile-team-images">
                    <div class="img column" ng-repeat="member in team.members" ng-click="toggleImage(member)">
                        <img class="gender-{{member.gender.toLowerCase()}}" ng-src="{{member.avatar}}">
                    </div>
                </div>
            </div>
            <div class="list" ng-show="selectedMember">
                <div class="item mobile-team-member">
                    <div class="card">
                        <div class="img">
                            <img class="gender-{{selectedMember.gender.toLowerCase()}}" ng-src="{{selectedMember.avatar}}">
                        </div>
                        <div class="title">
                            {{selectedMember.show_name}}
                        </div>
                        <div class="description">
                            <div class="university">{{selectedMember.university || '&nbsp;'}}</div>
                            <div class="major">{{selectedMember.major || '&nbsp;'}}</div>
                            <div class="mobile-num">{{selectedMember.mobile || '&nbsp;'}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>