<div class="people-want-to-join list" ng-controller="peopleWantToJoinCtrl">
    <div class="persons ui items">
        <div class="item ui grid">
            <div class="sixteen wide column">
                <div class="ui five column grid">
                    <div class="img column" ng-repeat="member in members">
                        <div class="card">
                            <div class="img">
                                <img class="gender-{{member.gender.toLowerCase()}}" ng-src="{{member.avatar}}-small">
                            </div>
                            <div class="title">
                                {{member.nick_name}}(CEO)
                            </div>
                            <div class="description">
                                <div>清华大学</div>
                                <div>设计系</div>
                            </div>
                        </div>
                        <button class="btn" ng-click="acceptApply(member)">
                            <i class="icon checkmark"></i>{{40013|translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>