<div class="profile-box">
    <div class="base-profile">
        <img class="ui middle aligned image" src="/img/salespage/wilfried.png">
        <span>陈大民</span>
    </div>
    <div class="ui divider"></div>
    <div class="ui two column grid">
        <div class="column">
            <i class="dollar big icon"></i> {{'MapHomeBridgeCoins' | translate}}：99
        </div>
        <div class="column">
            <i class="configure big icon"></i> {{'MapHomeSkills' | translate}}：5
        </div>
    </div>
    <div class="ui divider"></div>
    <div radar-map class="small-rader" data="data"></div>
    <div class="lists">
        <i class="flag big icon"></i> {{'MapHomeAchievement' | translate}}
    </div>
    <div class="lists">
        <button class="ui grey basic button fluid" ng-click="selectDirectiveItem('personalRecord')">{{'MapHomePersonalRecord' | translate}}</button>
    </div>
    <div>
        <button class="ui grey basic button fluid" ng-click="selectDirectiveItem('rankingList')">{{'MapHomeRankingList' | translate}}</button>
    </div>
</div>