<div class="cloak" ng-controller="seriesCtrl">
	<div ng-repeat="series in all_series">
		<div class="series_banner">
			<a ng-href="/{{lang}}{{cmpt}}/{{series.series_type}}?series_id={{series.series_id}}">
				<img ng-src="{{cmpt}}/img/banner_{{series.series_type}}.png" />
			</a>
		</div>
		<div class="available-lists">
			<div class="available-list" ng-if="epic.team" ng-repeat="epic in series.epics">
				<div class="ui grid">
					<div class="sixteen wide column">
						<div class="list-title">
							<a ng-href="/{{lang}}{{cmpt}}/epic?epic_id={{epic.epic_id}}">
								<h3>
									{{epic.title}}, 
									{{getTeamTime(epic, epic.team.teamMemberCount - epic.max_team_member_count)}}
								</h3>
							</a>
						</div>
						<div class="list-content">
							<i class="user icon" ng-class="{active: epic.team.teamMemberCount >= epic.max_team_member_count}"></i>
							<label>
								{{epic.team.teamMemberCount}} / {{epic.max_team_member_count}}
							</label>
							<label>
								{{epic.team.name}}
							</label>
						</div>
					</div>
					<!--<div class="two wide column">
						<div class="wechat">
							<i class="big wechat icon home-wechat-share" pop klass="qrpop" content="<div class='logo-mask'></div><div class='qrcode' qrcode src='QRCode(epic.epic_id, epic.team.id)'></div>"></i>
						</div>
					</div>-->
				</div>
			</div>
		</div>
	</div>
</div>