<div class="teams-apply-sent list" ng-controller="teamsApplySentCtrl">
    <div class="message" ng-show="message.show">
        <div class="error" ng-show="message.error">
            {{message.error|translate}}
            <i class="remove icon" ng-click="message.show=false"></i>
        </div>
        <div class="text" ng-show="message.text">
            {{message.text|translate}}
            <i class="remove icon" ng-click="message.show=false"></i>
        </div>
    </div>
    <div class="teams ui items">
        <div class="item ui grid" ng-repeat="team in teams" ng-class="{expanded:team.expanded}">
            <span class="name middle aligned content six wide column">
                {{team.name}}
            </span>
            <div class="images ten wide column minor" ng-show="!team.expanded" ng-click="team.expanded=true">
                <div class="ui five column grid">
                    <div class="img column" ng-repeat="member in team.members">
                        <img class="gender-{{member.gender.toLowerCase()}}" ng-src="{{member.avatar}}">
                    </div>
                </div>
            </div>
            <div class="images expanded" ng-show="team.expanded">
                <div class="ui five column grid">
                    <div class="img column" ng-repeat="member in team.members">
                        <div class="card">
                            <div class="img">
                                <img class="gender-{{member.gender.toLowerCase()}}" ng-src="{{member.avatar}}">
                            </div>
                            <div class="title">
                                {{member.show_name}}
                            </div>
                            <div class="description">
                                <div>&nbsp;{{member.graduate}}</div>
                                <div>&nbsp;{{member.major}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>