<div ng-controller="teamjoinCtrl" class="teamjoin cloak" ng-show="!share_team && ms_member" ng-if="ms_epic.epic_sign_from < now && ms_epic.epic_sign_end > now">
    <div class="actions ui grid hide" ng-show="!share_team && ms_member && !ms_team">
        <div class="six wide column">
            <div class="toggle">
                <div class="{{tab.name}}" ng-repeat="tab in tabs">
                    <button class="btn" ng-class="{selected:selected===tab}" ng-click="toggle(tab)" ng-show="showTabHeader(tab)">
                        {{tab.label|translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="contents">
        <div class="{{tab.name}}" ng-show="showTabContent(tab)" ng-repeat="tab in tabs">
            <div class="create-input ui form" ng-controller="createTeamCtrl" ng-if="tab.name=='create' && !ms_team">
                <div class="inline fields">
                    <div class="one wide field">
                    </div>
                    <div class="label four wide field">
                        {{40006|translate}}
                    </div>
                    <div class="eight wide field">
                        <input type="text" maxlength="100" ng-model="name" input-enter="createTeam()">
                    </div>
                    <div class="four wide field">
                        <button class="btn" ng-click="createTeam()">
                            {{40007|translate}}
                        </button>
                    </div>
                </div>
                <div class="message" ng-show="message.show">
                    <div class="error" ng-show="message.error">
                        {{message.error|translate}}
                        <i class="remove icon" ng-click="message.show=false"></i>
                    </div>
                    <div class="text" ng-show="message.text">
                        {{message.text|translate}}
                        <i class="remove icon" ng-click="message.show=false"></i>
                    </div>
                </div>
            </div>
            <div class="ui form" ng-if="tab.name=='create' && !ms_team">&nbsp;</div>
            <div class="tab-header ui form" ng-show="tab.name!='create'||ms_team">
                <div class="inline fields">
                    <div class="four wide field" ng-repeat="child in tab.children">
                        <button class="btn" ng-class="{selected: selectedTab===child}" ng-click="selectTab(child)">
                            {{child.label|translate}}
                            <span ng-if="number[child.name]">
                                ({{number[child.name]}})
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="tabs" ng-show="tab.name!='create'||ms_team">
                <div class="content {{child.name}}" ng-show="selectedTab === child" ng-repeat="child in tab.children">
                    <div ng-dynamic-directive="child.name">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>